@model VerserAssetleasingServiceInterface.Models.EndUsersListViewModel

@{
    ViewBag.Title = "Register Contract";
}


<div class="table-bordered" style="margin:20px; width:750px">


    @using (Html.BeginForm("AddEndUser", "RegisterEndUsers", FormMethod.Post))
    {
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel-body" style="font-size:x-small;color:grey;border-color:gray">

        <div class="form-group col-md-6">
            @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-7" })

            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Last Name", htmlAttributes: new { @class = "control-label col-md-7" })

            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-6">
            @Html.Label("Employee", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.EmployeeNo, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.EmployeeNo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("Department", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })


        </div>


        <div class="form-group col-md-6">
            @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.CommencementDate, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.CommencementDate, "", new { @class = "date" })
        </div>

        <div class="form-group col-md-6">
            @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.TerminationDate, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.TerminationDate, "", new { @class = "date" })
        </div>

        <div class="form-group col-md-6">
            @Html.Label("CostCode", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.CostCode, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.CostCode, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("EndUserStatus", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.EndUserStatus, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.EndUserStatus, "", new { @class = "text-danger" })


        </div>

        <div class="form-group col-md-6">
            @Html.Label("EndUser_Company", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.EndUser_Company, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.EndUser_Company, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.Label("EndUser_Site", htmlAttributes: new { @class = "control-label col-md-5" })

            @Html.EditorFor(model => model.EndUser_Site, new { htmlAttributes = new { @class = "form-control col-md-5" } })
            @Html.ValidationMessageFor(model => model.EndUser_Site, "", new { @class = "text-danger" })


        </div>
    </div>


    <div class="panel-footer primary" align="left" style="height:50px;vertical-align:top;">
        <input type="submit" value="Add" class="btn btn-default btn-warning" style="height:32px;vertical-align:top" />
    </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    .form-group {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        margin: 0px;
        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }

    .col-md-6 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .row.no-pad > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 14px;
    }

    .form-control {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }

    .button {
        height: 35px;
        background-color: #f4511e;
        border: none;
        color: white;
        padding: 16px 22px;
        text-align: center;
        font-size: 14px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
    }

    .panel-footer {
        padding: 3px 30px;
        background-color: #f5f5f5;
        border-top: 1px solid #dddddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
        padding-bottom: 15px;
    }
</style>


