@model VerserAssetleasingServiceInterface.Models.ContractsListViewModel

@{
    ViewBag.Title = "Register Contract";
}


    <div class="table-bordered" style="margin:20px; width:750px">
        <div class="panel-heading" align="center" style="height:30PX;background-color:#789fbb;color:white; vertical-align:top">
            <h3 class="panel-title">UPDATE CONTRACT</h3>  </DIV>
            @using (Html.BeginForm("UpdateContract", "RegisterContract", FormMethod.Post))
            {

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel-body" style="font-size:x-small;color:grey;border-color:gray">

                    <div class="form-group col-md-6">
                        @Html.Label("Contract Company", htmlAttributes: new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.contract_Company, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                        @Html.ValidationMessageFor(model => model.contract_Company, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.id)
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Service", htmlAttributes: new { @class = "control-label col-md-7" })

                        @Html.EditorFor(model => model.serviceNo, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                        @Html.ValidationMessageFor(model => model.serviceNo, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group col-md-6">
                        @Html.Label("End User", htmlAttributes: new { @class = "control-label col-md-5" })

                        @Html.EditorFor(model => model.contract_EndUser, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                        @Html.ValidationMessageFor(model => model.contract_EndUser, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Contract Plan", htmlAttributes: new { @class = "control-label col-md-5" })

                        @Html.EditorFor(model => model.contract_Plan, new { htmlAttributes = new { @class = "form-control col-md-5" } })
                        @Html.ValidationMessageFor(model => model.contract_Plan, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("Start Date", htmlAttributes: new { @class = "control-label col-md-5" })

                        @Html.TextBoxFor(model => model.startDate, "{0:yyyy-MM-dd}", new { @class = "form-control col-md-5", @type = "date" })
                        @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "date" })
                    </div>

                    <div class="form-group col-md-6">
                        @Html.Label("End Date", htmlAttributes: new { @class = "control-label col-md-5" })

                        @Html.TextBoxFor(model => model.endDate, "{0:yyyy-MM-dd}", new { @class = "form-control col-md-5", @type = "date" })
                        @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "date" })
                    </div>
                </div>


                <div class="panel-footer primary" align="left" style="height:50px;vertical-align:top;">
                    <input type="submit" value="Update" class="btn btn-default btn-warning" style="height:32px;vertical-align:top" />
                </div>
            }
        </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }


        <style>
            .form-group {
                margin-bottom: 2px;
                padding-right: 0;
                padding-left: 0;
                margin: 0px;
                font-size: 12px;
                border-radius: 9px;
                padding-bottom: 5px;
                margin-top: 2px;
            }

            .col-md-6 {
                position: relative;
                min-height: 1px;
                padding-right: 0px;
                padding-left: 0px;
            }

            .row.no-pad > [class*='col-'] {
                padding-right: 0;
                padding-left: 0;
            }

            .btn-warning {
                background-color: #789fbb;
                font-size: 14px;
                BORDER-color: #789fbb;
            }

            .form-control {
                margin-bottom: 2px;
                padding-right: 0;
                padding-left: 0;
                font-size: 12px;
                border-radius: 9px;
                padding-bottom: 5px;
                margin-top: 2px;
            }

            .button {
                height: 35px;
                background-color: #f4511e;
                border: none;
                color: white;
                padding: 16px 22px;
                text-align: center;
                font-size: 14px;
                margin: 4px 2px;
                opacity: 0.6;
                transition: 0.3s;
                display: inline-block;
                text-decoration: none;
                cursor: pointer;
            }

            .panel-footer {
                padding: 3px 30px;
                background-color: #f5f5f5;
                border-top: 1px solid #dddddd;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            .form-group.required .control-label:after {
                content: "*";
                color: red;
                padding-bottom: 15px;
            }
        </style>


