@model IEnumerable<VerserAssetleasingServiceInterface.Models.AssetsListViewModel>


<table class="table table-striped  table-hover table-bordered table-condensed" id="assettable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IMEI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SIMNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DecomissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyBackPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AquisitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SPMD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstCommissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastCommissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastRepairDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset_Contract)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Asset_LifecycleStatus)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Asset_OSVersion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMEI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SIMNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DecomissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuyBackPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AquisitionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SPMD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstCommissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastCommissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastRepairDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset_Contract)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Asset_LifecycleStatus)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Asset_OSVersion)
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('#assettable').DataTable();
        $('.dataTables_filter').addClass('pull-right');
    });
</script>

