@model VerserAssetleasingServiceInterface.Models.CompanySitesListViewModel

@{
    ViewBag.Title = "Register End Users";
}

@using (Html.BeginForm("UpdateSiteInformation", "Sites", FormMethod.Post))
{
    @Html.AntiForgeryToken()



    //User the following link to apply styling from site.css
    @*<link href="css/site.css" rel="stylesheet">*@


    <style type="text/css">

        #deceased {
            background-color: #FFF3F5;
            padding-top: 10px;
            margin-bottom: 10px;
        }

        .remove_field {
            float: right;
            cursor: pointer;
            position: absolute;
        }

            .remove_field:hover {
                text-decoration: none;
            }
    </style>

    <div class="container" style="margin:20px; width:800px">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (TempData["StatusMessage"] != null)
        {
            <p><h6> @TempData["StatusMessage"].ToString()</h6></p>
        }
        <div class="row" style="font-size:x-small;color:grey;border-color:gray">

            <div class="col-md-12">
                <div class="form-group col-md-5 col-sm-6">

                    @Html.Label("Site Name", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.siteName, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "siteName" } })
                    @Html.ValidationMessageFor(model => model.siteName, "", new { @class = "text-danger" })

                </div>
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("Address Line 1", htmlAttributes: new { @class = "control-label col-md-5" })

                    @Html.EditorFor(model => model.addressLine1, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "address1" } })
                    @Html.ValidationMessageFor(model => model.addressLine1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("Address Line 2", htmlAttributes: new { @class = "control-label col-md-5" })

                    @Html.EditorFor(model => model.addressLine2, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "address2" } })
                    @Html.ValidationMessageFor(model => model.addressLine2, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("Suburb", htmlAttributes: new { @class = "control-label col-md-5" })

                    @Html.EditorFor(model => model.suburb, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "suburb" } })
                    @Html.ValidationMessageFor(model => model.suburb, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("State", htmlAttributes: new { @class = "control-label col-md-7" })

                    @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "state" } })
                    @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("Post Code", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.postCode, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "postcode" } })
                    @Html.ValidationMessageFor(model => model.postCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("Site Company", htmlAttributes: new { @class = "control-label col-md-5" })
                    @Html.EditorFor(model => model.site_Company, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "siteCompany" } })
                </div>
                <div class="form-group col-md-5 col-sm-6">
                    @Html.Label("Site Id", htmlAttributes: new { @class = "control-label col-md-7" })
                    @Html.EditorFor(model => model.id, new { htmlAttributes = new { @class = "form-control col-md-5", @id = "siteId" } })
                </div>
            </div>
            @*<input type="submit" value="UPDATE" class="btn btn-default btn-warning" style="height:32px;vertical-align:top" />*@
        </div>
        <div class="panel-footer primary" align="left" style="height:50px;vertical-align:top;">
            <input type="submit" value="Update" class="btn btn-default btn-warning" style="height:32px;vertical-align:top" />
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    .form-group {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        margin: 0px;
        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }
    /*.jconfirm.jconfirm - box div.jconfirm - content - pane.jconfirm - content {overflow:hidden,
    }*/
    .col-md-6 {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }

    .inline style {
        height: 400.7px;
        max-height: 492.85px;
        transition-duration: 0.4s;
        transition-timing-function: cubic-bezier(0.36, 0.55, 0.19, 1);
    }

    .jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
        overflow: hidden;
    }

    .row.no-pad > [class*='col-'] {
        padding-right: 0;
        padding-left: 0;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 14px;
    }

    .form-control {
        margin-bottom: 2px;
        padding-right: 0;
        padding-left: 0;
        font-size: 12px;
        border-radius: 9px;
        padding-bottom: 5px;
        margin-top: 2px;
    }

    .panel-footer {
        padding: 3px 30px;
        background-color: #f5f5f5;
        border-top: 1px solid #dddddd;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
        padding-bottom: 15px;
</style>
