@using System.Linq;
@model VerserAssetleasingServiceInterface.Models.UserRoleModel

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/popper.js"></script>

<div class="container" style="margin-left:12px;padding-top:20px">
    
        <div class="col-md-6">
            <table class="table table-bordered  table-responsive table-hover" id="mainTable">
                <thead style="background-color:#FFA500; color:white">
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Company
                        </th>
                        <th>
                            IsAdmin
                        </th>
                        <th>
                            CanEdit
                        </th>
                        <th>
                            Update
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Usermodel)
                    {
                        <tr>
                            <td>

                                <span id="lblUserName">@Html.DisplayFor(model => item.UserName) </span>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.ResourceIDs, Model.Companylist, "Select a Project", new { @class = "form-control ddlregCustomerID", id = "ddlregCustomerID", @multiple = "multiple" })
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => model.IsAdmin, new { @id = "isAdmin" })
                            
                            </td>
                            <td>
                                @Html.CheckBoxFor(model => model.CanEdit, new { @id = "canEdit" })
                               
                            </td>
                            <td><input type="submit" value="Update" class="btn-success" name="Update" onclick="PostUserData(this);" /> </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="">
        </div>
    </div>
@section Scripts {
   
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainTable').DataTable();

        });
        $('.ddlregCustomerID').multiselect({
            includeSelectAllOption: true,
            maxHeight: 250,
            buttonWidth: '380px',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true
        });
        $('ddlregCustomerID').val(['Select a Project', 'MAC Enterprises']);
        function PostUserData(rowId) {
            var loadUrl = '@Url.Action("Add", "Users")';
            var row = $(rowId).closest("tr"),
            data = {
                'UserName': row.find("#lblUserName").text(),
                'ResourceIDs': row.find("#ddlregCustomerID").val(),
                'IsAdmin': row.find("#isAdmin").val(),
                'CanEdit': row.find("#canEdit").val()
                };
            $.ajax({
                url: loadUrl,
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                   
                },
                error: function () {
                    alert("error");
                }
            });
        }
    </script>
   
}

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 11px;
    }

    .black {
        color: black;
    }

    body {
        padding-top: 50px;
        padding-bottom: 5px;
        /*margin-left:5px;*/
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
        margin-left: 5px;
    }

    .dataTables_filter {
        float: right;
    }

    .container {
        font-size: 12px;
        padding-left: 50px;
        padding-right: 5px;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .glyphicon {
        font-size: 15px;
        color: lightgray;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }


    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }
</style>
