@using System.Linq;
@model VerserAssetleasingServiceInterface.Models.UserRoleModel

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/popper.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

<div class="container" style="padding-top:20px">

    <div class="panel with-nav-tabs panel-default" style="width:130%;margin-bottom:0px">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab3default" data-toggle="tab">USERS</a></li>
                <li><a href="#tab4default" data-toggle="tab">UPDATE USER</a></li>
                <li><a href="#tab1default" data-toggle="tab">NEW USER REGISTERATION</a></li>
                <li><a href="#tab2default" data-toggle="tab">OPPORTUNITIES</a></li>

            </ul>
        </div>
        <div class="panel-body" style="margin-bottom:0px;margin-top:0px;padding:2px">
            <div class="tab-content">
                <div class="tab-pane fade" id="tab1default">
                    <table class="table table-bordered" style="width:150px;margin-left:20px">
                        @*<thead>
                                <tr class="success">
                                    <th colspan="2">
                                        New User Registration
                                        <a class="btn btn-success pull-right" href="Login.html">Login</a>
                                    </th>
                                </tr>
                            </thead>*@
                        <tbody>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" placeholder="Email" /> </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>
                                    <input type="password" id="txtPassword"
                                           placeholder="Password" />
                                </td>
                            </tr>
                            <tr>
                                <td>Confirm Password</td>
                                <td>
                                    <input type="password" id="txtConfirmPassword"
                                           placeholder="Confirm Password" />
                                </td>
                            </tr>
                            <tr class="success">
                                <td colspan="2">
                                    <input id="btnRegister" class="btn btn-success"
                                           type="button" value="Register" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="tab4default">
                    <div class="col-md-12">
                        <table class="table table-bordered  table-responsive table-hover" id="mainTable">
                            <thead style="background-color:#fdad5c; color:white">
                                <tr>
                                    <th>
                                        USERS
                                    </th>
                                    <th>
                                        PROJECTS
                                    </th>
                                    <th>
                                        ADD PERMISSION
                                    </th>
                                    <th>
                                        REMOVE PERMISSION
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>

                            <tr>

                                <td>
                                    @Html.DropDownListFor(model => model.ResourceIDs, Model.UserIDs, "Select a Project", new { @class = "form-control ddlregCustomerID", id = "ddlregCustomerID", @multiple = "multiple" })

                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.CompanyIDs, Model.Companylist, "Select a Project", new { @class = "form-control ddlregCompanyID", id = "ddlregCompanyID", @multiple = "multiple" })
                                </td>

                                <td>
                                    @Html.CheckBoxFor(model => model.CanEdit, new { @id = "canEdit" })

                                </td>
                                <td>
                                    @Html.CheckBoxFor(model => model.CanRemove, new { @id = "canEdit" })

                                </td>
                                <td><input type="submit" value="SAVE CHANGES" class="btn-success" name="Update" onclick="PostUserData(this);" /> </td>
                            </tr>



                        </table>
                    </div> <br />

                </div>


                <div class="tab-pane fade in active" id="tab3default">
                    <div class="col-md-8">
                        <table class="table table-bordered  table-responsive table-hover" id="mainTable1">
                            <thead style="background-color:#fdad5c; color:white">
                                <tr>
                                    <th>
                                        PROJECT
                                    </th>
                                    <th>
                                        USERID
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.ProjectLoginUserList)
                            {
                                <tr>
                                    <td>@item.Project</td>
                                    <td>@item.UserID</td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade" id="tab2default">
                    <table class="table table-bordered table-responsive" id="tblCustomersTable">
                        <thead style="background-color:lightgray">
                            <tr>

                                <th>
                                    Opportunity
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    ProjectManager
                                </th>
                                <th>
                                    SalesManager
                                </th>
                                <th>
                                    Changes
                                </th>
                                <th>
                                    Is Active
                                </th>
                            </tr>
                        </thead>

                        @foreach (VerserAssetleasingServiceInterface.Models.PostQuoteRequestModel item in Model.PostQuoteRequestModelLIST)

                        {
                            <tr>

                                <td>
                                    @item.OpportunityNumber
                                    <input class="hidden" type="text" id="hdnOpportunitynumber" value="@item.OpportunityNumber" />
                                </td>

                                <td>
                                    @item.CustomerName
                                    <input class="hidden" type="text" id="hdnOpportunitynumber" value="@item.CustomerName" />

                                </td>
                                <td>
                                    <span>@item.ProjectManager</span>
                                    @Html.DropDownListFor(m => item.ProjectManager, Model.SalesManagerList, "Project Manager", new { @class = "form-control ddlPM ", id = "ddlPM" , @style = "display:none" })
                                    <input class="hidden" type="text" id="hdnPM" value="@item.ProjectManager" />

                                </td>
                                <td>
                                    <span>
                                        @item.SalesManager</span>
                                        <input class="hidden" type="text" id="hdnSM" value="@item.SalesManager" />
                                        @Html.DropDownListFor(m => item.SalesManager, Model.SalesManagerList, "Sales Manager", new { @class = "form-control ddlSM", id = "ddlSM", @style = "display:none" })
                                  
                                      </td>
                                <td>
                                    <a class="Edit btn btn-warning a-btn-slide-text" href="javascript:;">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        <span><strong>Edit</strong></span>
                                    </a>
                                    <a class="Update btn btn-success a-btn-slide-text" href="javascript:;" style="display:none" id="Update">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        <span><strong>Update</strong></span>
                                    </a>
                                    <a class="Cancel btn btn-danger a-btn-slide-text" href="javascript:;" style="display:none">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        <span><strong>Cancel</strong></span>
                                    </a>
                                </td>
                                <td>
                                    <input data-size="mini" type="checkbox" data-toggle="toggle" name="AssignedGroups[@item.IsActive].Assigned" @(item.IsActive ? "checked" : "") value="@item.IsActive" id="OpportunityCheckBoxID" onchange="OpportunityIdChange(this);" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class="modal fade" tabindex="-1" id="successModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Success</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h2 class="modal-title">Registration Successful!</h2>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>
        @*
            </div>*@
    </div>

    <div class="col-md-8">

        <div class="modal fade" tabindex="-1" id="successModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Success</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h2 class="modal-title">Registration Successful!</h2>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>
        @*
            </div>*@
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script type="text/javascript">
    </script>
}
<script type="text/javascript" type="text/javascript">

    $(document).ready(function () {
        //$('#mainTable').DataTable();
        $('#tblCustomersTable').DataTable();
        $('input[type="search"]').val = "";

    });
    $("body").on("click", "#tblCustomersTable .Edit", function () {
        // debugger;
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("select").length > 0 ) {
                $(this).find("select").show();
                $(this).find("span").hide();
                $(this).toggleClass('selected');
                SetDDLValue(row);
            }
        });
        row.find(".Update").show();
        row.find(".Cancel").show();
       

        $(this).hide();
    });
    function SetDDLValue(row) {
        //alert('before document ready');
       $(row).find("#ddlSM option").each(function (i) {
           
            if (($(this).text() == $(row).find("#hdnSM").val())) {
                $(this).attr('selected', 'selected')
            }
        });
            
        $(row).find("#ddlPM option").each(function (i) {

            if (($(this).text() == $(row).find("#hdnPM").val())) {
                $(this).attr('selected', 'selected')
            }
        });
        $(row).find("#ddlProject option").each(function (i) {

            if (($(this).text() == $(row).find("#hdnProject").val())) {
                $(this).attr('selected', 'selected')
            }
        });
    }

     //Cancel event handler.
        $("body").on("click", "#tblCustomersTable .Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find("select").length > 0 ) {
                var span = $(this).find("span");
                var input = $(this).find("select");
                $(this).removeClass('selected');
                //input.val(span.html());
               
                span.show();
                input.hide();
               
            }
        });
        row.find(".Edit").show();
        row.find(".Update").hide();
      
        $(this).hide();
    });
    $('.ddlregCustomerID').multiselect({
        includeSelectAllOption: true,
        maxHeight: 250,
        buttonWidth: '380px',
        enableFiltering: true,
        enableCaseInsensitiveFiltering: true
        });
        $('.ddlregCompanyID').multiselect({
            includeSelectAllOption: true,
            maxHeight: 250,
            buttonWidth: '380px',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true
        });

         $('.ddlregProjectManagerID').multiselect({
            includeSelectAllOption: true,
            maxHeight: 250,
            buttonWidth: '380px',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true
         });
          $('.ddlregSalesManagerID').multiselect({
            includeSelectAllOption: true,
            maxHeight: 250,
            buttonWidth: '380px',
            enableFiltering: true,
            enableCaseInsensitiveFiltering: true
          });
         
    function ShowModalRegistration() {
         var sliderURL = '@Url.Action("GetRegristrationModal", "Users")'
        $.ajax({
            type: "GET",
            url: sliderURL,

            success: function (data) {
                $.confirm({

                    title: ' ',
                    closeIcon: true,
                    content:data,
                    boxWidth: '370px',
                    useBootstrap: false,
                    buttons: {
                        yes: { isHidden: true }
                    }
                });
            }
        });
    }

    $('ddlregCustomerID').val(['Select a Project', 'MAC Enterprises']);
    function PostUserData(rowId) {
        var loadUrl = '@Url.Action("Add", "Users")';
        var row = $(rowId).closest("tr"),
            data = {
                'UserName': row.find("#lblUserName").text(),
                'ResourceIDs': row.find("#ddlregCustomerID").val(),
                'CompanyIDs': row.find("#ddlregCompanyID").val(),
                'IsAdmin': row.find("#isAdmin").val(),
                'CanEdit': row.find("#canEdit").val()
            };
        $.ajax({
            url: loadUrl,
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

            },
            error: function () {
                alert("error");
            }
        });
    }
</script>

@*Registration ajax code*@
@*
    <script type="text/javascript">
        $(document).ready(function () {

            //Close the bootstrap alert
            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            // Save the new user details
            $('#btnRegister').click(function () {
                $.ajax({
                    //url: 'https://customers.verser.com.au/JMSGatewayAPI/api/account/register',
                    url: 'api/account/register',
                    method: 'POST',
                    data: {
                        email: $('#txtEmail').val(),
                        password: $('#txtPassword').val(),
                        confirmPassword: $('#txtConfirmPassword').val()
                    },
                    success: function () {
                        $('#successModal').modal('show');
                    },
                    error: function (jqXHR) {
                        $('#divErrorText').text(jqXHR.responseText);
                        $('#divError').show('fade');
                    }
                });
            });
        });
    </script>*@

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 11px;
    }

    .black {
        color: black;
    }

    body {
        padding-top: 50px;
        padding-bottom: 5px;
        /*margin-left:5px;*/
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
        margin-left: 5px;
    }

    .dataTables_filter {
        float: right;
    }

    .container {
        font-size: 12px;
        padding-left: 50px;
        padding-right: 5px;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .glyphicon {
        font-size: 15px;
        color: lightgray;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }


    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }
</style>
