@model IEnumerable<VerserAssetleasingServiceInterface.Models.ColoursListViewModel>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.semanticui.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<h4 align="center" style="color:GrayText;font-weight:600;"></h4>
<br>
@*<div class="container" style="padding-top:0px;padding-bottom:0px;margin-right:0px;padding-left:1px;padding-right:10px;width:140%">

    <div class="row pull-right">
        <div class="col-md-2">
            @using (Html.BeginForm("ExportTimesSheetToExcel", "Colours", FormMethod.Post))
            {
                <input type="image" src="~/Images/excel.png" alt="Submit" width="25" height="25">
            }
        </div>
        <div class="col-md-1">
                <a href="@Url.Action("Index", "RegisterCompany")">
                    <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20">
                </a>
            </div>
    </div>
</div>*@
<div class="container" style="margin-left:12px;padding-top:2px">
    <div class="row" style="width:120%">
        <div class="col-md-12">
            <table class="table table-bordered  table-responsive table-hover" id="mainTable" style="font-family: sans-serif">
                <thead style="background-color: #428bca; color:white">
                    <tr>
                        <th>
                            @Html.DisplayName("Colour")
                        </th>
                        <th>
                            @Html.DisplayName("createdBy")
                        </th>
                        <th>
                            @Html.DisplayName("created")
                        </th>
                        <th>
                            @Html.DisplayName("modifiedBy")
                        </th>
                        <th>
                            @Html.DisplayName("modified")
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.colourName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.createdBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.modifiedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.modified)
                            </td>
                            @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                </td>*@
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainTable').DataTable();
        });
                                //  ExportTimesSheetToExcel", "Candidates"

    </script>
    <body>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>
    </body>
}
<style>

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 11px;
    }

    .black {
        color: black;
    }

    body {
        padding-top: 10px;
        padding-bottom: 5px;
        /*margin-left:5px;*/
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
        margin-left: 5px;
    }

    .dataTables_filter {
        float: right;
    }

    .table thead > tr > th, .table thead > tr > td {
        padding: 8px;
        line-height: 0.4285;
        vertical-align: top;
        border-top: 1px solid #dddddd;
    }

    .container {
        font-size: 12px;
        padding-left: 50px;
        padding-right: 5px;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .glyphicon {
        font-size: 15px;
        color: lightgray;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }


    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }
</style>


