@model VerserAssetleasingServiceInterface.Models.CompanyAndSiteListViewModel
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>
<link href="~/Scripts/bootstrap-multiselect.css" rel="stylesheet" />
<br>

<div class="container" style="padding-top:2px;padding-bottom:0px;margin-left:5px;padding-left:10px;padding-right:10px">

    <div class="row pull-left">
        <div class="col-md-1">
            @using (Html.BeginForm("ExportTimesSheetToExcel", "Company", FormMethod.Post))
            {
                <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
            }
        </div>
        @*<input type="image" src="~/Images/VerserLogo.png" alt="Submit" width="48" height="28">*@
        @*<button type="submit" class="btn btn-default btn-sm" style="padding-left:5px;padding-top:2px;margin-left:5px;background-color:lightgray">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        @Html.ActionLink("Create Company", "Index", "RegisterCompany", null, new { @class = "btn btn-primary btn-large" })*@
        <div class="col-md-1">
            <a href="@Url.Action("Index", "RegisterCompany")">
                 <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20">
            </a>
        </div>
    </div>
    </div>
<div class="container-fluid" style="margin-left:12px;padding-top:2px">
    <div class="row" style="width:80%;">
        <div class="col-md-6">
            <table class="table table-bordered  table-responsive table-hover table-dark" id="mainTable" @*style="font-size:14px;width:132%;margin-right:10px;color:black"*@>
                <thead style="background-color: #fdb663; color:white">
                    @*#FFA500*@
                    <tr>
                        <th>
                            @Html.DisplayName("Company")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CompanyListViewModel)
                    {
                    <tr>
                        
                        <td onclick="LoadAddressData(@item.id,'@item.companyName','@item.login','@item.addressLine1','@item.phone','@item.fax','@item.email','@item.logo.ToString()');">
                            <font style="font-weight:1000;color:#515151">
                                @Html.DisplayFor(modelItem => item.companyName)
                                <input type="hidden" value="@item.id" id="hiddenId" />
                                <input type="hidden" value="@item" id="hiddenModelId" />
                            </font> <br />
                                <font style="color:gray">
                                    @Html.DisplayFor(modelItem => item.addressLine1)
                                </font>
                           
                        </td>                       
                    </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="container-fluid">
            <div class="col-md-6">
                @*<div class="page-header">
            <h2>Details</h2>
        </div>*@
                <div class="row">
                    <div class="container table-bordered" style="margin:20px; width:1000px;padding-top:5px;padding-bottom:5px">
                      
                        <form>
                            <div class="form-group row" >
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Logo:</label>
                                <div class="col-sm-1">
                                    <img id="image">
                                  
                                    <input type="file" name="file" id="file" />
                                    <input type="submit" value="Upload" class="submit" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Company:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="txtCompany" placeholder="Company">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="txtAddress" placeholder="Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="txtPhone" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Fax</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="txtFax" placeholder="Fax">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control form-control-sm" id="txtEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" value="Update" class="btn btn-default btn-warning" style="height:32px;vertical-align:top" />
                                <input type="submit" value="Asset List" class="btn btn-default btn-warning" style="height:32px;vertical-align:top" />
                            </div>
                        </form>
                    </div>
                    <br>
                </div>

                    <div class="row grid-divider">
                        <div class="row pull-right">
                            <div class="row pull-right">
                                <div class="col-md-1">
                                    @using (Html.BeginForm("ExportTimesSheetToExcel", "Company", FormMethod.Post))
                                    {
                                        <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
                                    }
                                </div>
                                @*<input type="image" src="~/Images/VerserLogo.png" alt="Submit" width="48" height="28">*@
                                @*<button type="submit" class="btn btn-default btn-sm" style="padding-left:5px;padding-top:2px;margin-left:5px;background-color:lightgray">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            @Html.ActionLink("Create Company", "Index", "RegisterCompany", null, new { @class = "btn btn-primary btn-large" })*@
                                <div class="col-md-1">
                                    <a href="@Url.Action("Index", "RegisterCompany")">
                                        <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20">
                                    </a>
                                </div>
                                <div class="col-md-1">
                                    <a href="@Url.Action("Index", "RegisterCompany")">
                                        <input type="image" src="~/Images/pencil.png" alt="Submit" width="20" height="20">
                                    </a>
                                </div>
                                </div>
                                <table class="table-bordered" style="margin:5px; width:980px" id="mainTable1">
                                    <thead style="background-color:#FFA500; color:white">
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Site")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Address")
                                            </th>
                                            @*<th>
                            @Html.DisplayName("AddressLine 2")
                        </th>*@
                                            <th>
                                                @Html.DisplayName("Suburb")
                                            </th>
                                            <th>
                                                @Html.DisplayName("State")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Postcode")
                                            </th>
                                            @*<th>
                            @Html.DisplayName("Company")
                        </th>*@

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CompanySitesListViewModel)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayName(item.siteName)
                                                </td>
                                                <td>
                                                    @Html.DisplayName(item.addressLine1)
                                                </td>
                                                <td>
                                                    @Html.DisplayName(item.suburb)
                                                </td>
                                                <td>
                                                    @Html.DisplayName(item.state)
                                                </td>
                                                <td>
                                                    @Html.DisplayName(item.postCode)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>
        </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#mainTable').DataTable();
            $('#mainTable1').DataTable();
        });
                    //  ExportTimesSheetToExcel", "Candidates"
        function LoadAddressData(theId,companyName,login,addressLine1,phone,fax,email,logo) {
           // alert(data);
          
            $("#txtCompany").val(companyName);
            $("#txtAddress").val(addressLine1);
            $("#txtPhone").val(phone);
            $("#txtFax").val(fax);
            $("#txtEmail").val(email);
            $("#image").val(logo);
            
           

             var loadUrl = '@Url.Action("GetCompanyData", "Company")';
                  
            $.ajax({

                type: "GET",
                url: loadUrl,
                contentType: "application/json; charset=utf-8",
                data: { "Id": theId },
                datatype: "json",
                success: function (data) {
                    // debugger;
                    populateDataTable(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }

        function populateDataTable(data) {
            console.log("populating data table...");
            // clear the table before populating it with more data
            $("#mainTable1").DataTable().clear();
            var length = Object.keys(data).length;
            if (length == 0) {
                $('#mainTable1').dataTable().fnAddData(["", "", "", "", ""]);
            }
            else {
                for (var i = 0; i <= length; i++) {
                    var customer = data[i];

                    // You could also use an ajax property on the data table initialization
                    $('#mainTable1').dataTable().fnAddData([
                        customer.siteName,
                        customer.addressLine1,
                        customer.suburb,
                        customer.state,
                        customer.postCode
                    ]);
                }
            }
        }
    </script>
    <body>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>
    </body>
}
<style>
    .row.vdivide [class*='col-']:not(:last-child):after {
        background: #e0e0e0;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        min-height: 70px;
    }

    .col-padding {
        padding: 0 15px;
    }

    .glyphicon {
        font-size: 14px;
        color: black;
    }

    .grid-divider {
        position: relative;
        padding: 0;
        width: 1000px;
    }

   .grid-divider > [class*='col-'] {
            position: static;
        }

    .grid-divider > [class*='col-']:nth-child(n+2):before {
                content: "";
                border-left: 1px solid #DDD;
                position: absolute;
                top: 0;
                bottom: 0;
            }

    .col-padding {
        padding: 0 15px;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 11px;
    }

    .black {
        color: black;
    }

    body {
        padding-top: 40px;
        padding-bottom: 5px;
        /*margin-left:5px;*/
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
        margin-left: 5px;
    }

    .dataTables_filter {
        float: right;
    }

    .container {
        font-size: 12px;
        padding-left: 50px;
        padding-right: 5px;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }


    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right: 15px;
        padding-left: 5px
    }

    .table-hover tbody tr:hover > td {
        background-color: #53d0ba;
    }

 
</style>

