@model VerserAssetleasingServiceInterface.Models.CompanyAndSiteListViewModel
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src=" https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<br>
<div class="container-fluid" style="margin-left:0px;padding-top:0px">
    <div class="container" style="width:170%; padding-top:0px; margin-left:0px; border-color:lightgray;padding-left:0px">
        <div class="col-md-4">
            <table class="table table-bordered  table-responsive table-hover table-dark" id="mainTable">
                <thead style="background-color: #428bca; color:white">
                    @*#FFA500*@
                    <tr>
                        <th>
                            @Html.DisplayName("Company")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CompanyListViewModel)
                    {
                        <tr>
                            <td onclick="LoadAddressData(@item.id,'@item.companyName','@item.login','@item.addressLine1','@item.phone','@item.fax','@item.email','@Convert.ToBase64String(@item.logo)','@item.state','@item.suburb','@item.postcode');">
                                <font style="font-weight:1000;color:#515151">
                                    @Html.DisplayFor(modelItem => item.companyName)
                                    <input type="hidden" value="@item" id="hiddenModelId" />
                                </font> <br />
                                <font style="color:gray">
                                    @Html.DisplayFor(modelItem => item.addressLine1)
                                </font>
                                @if (Convert.ToBase64String(@item.logo).Length > 0)
                                {
                                    <br />
                                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(@item.logo))" style="height:45px; width:65px;" class="image-border">
                                    <input type="hidden" value="@Convert.ToBase64String(@item.logo)" id="hiddenLogo" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>            
        </div>

        <div class="col-md-6">
            <div class="panel with-nav-tabs panel-default" style="width:200%;margin-bottom:0px">
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">COMPANY DETAILS</a></li>
                        <li><a href="#tab2default" data-toggle="tab">ASSETS</a></li>
                        <li><a href="#tab3default" data-toggle="tab">CONTRACTS</a></li>
                        @*<li><a href="#tab4default" data-toggle="tab">CATALOUGES</a></li>*@
                        <li><a href="#tab5default" data-toggle="tab">END USERS</a></li>

                    </ul>
                </div>
                <div class="panel-body" style="margin-bottom:0px;margin-top:0px;padding:2px">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <div class="col-md-6" style="padding-left:0px">
                                <div class="row">
                                    <form>
                                        <div class="container table-bordered" style="margin:20px; width:1000px;padding-top:5px;padding-bottom:5px">
                                            <div class="form-group row">
                                                <input type="hidden" value="" id="hiddenId" />
                                                <input type="hidden" value="" id="hiddenState" />
                                                <input type="hidden" value="" id="hiddenSuburb" />
                                                <input type="hidden" value="" id="hiddenPostcode" />

                                                <div class="col-sm-6">

                                                    <div class="col-sm-10">
                                                        <img id="image" class="image-border form-control form-control-sm">
                                                        <input type="file" @*id="imgupload"*@ style="display:none" onchange="readURL(this);" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Company</label>
                                                    <div class="col-sm-10">

                                                        <input type="text" class="" id="txtCompany" placeholder="Company" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="" id="txtAddress" placeholder="Address" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Phone</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="classname" id="txtPhone" placeholder="Phone" readonly />
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">State</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="classname" id="txtFax" placeholder="State" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Suburb</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="classname" id="txtFax" placeholder="Suburb" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">PostCode</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="classname" id="txtFax" placeholder="PostCode" readonly />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="classname" id="txtEmail" placeholder="Email" readonly />
                                                    </div>
                                                </div>

                                            </div>
                                            <div style="font-size:smaller;color:deepskyblue">

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row grid-divider">
                                    <div class="row pull-right">
                                        <div class="row pull-right">
                                            <div class="col-md-1">
                                                @using (Html.BeginForm("ExportTimesSheetToExcel", "Company", FormMethod.Post))
                                                {
                                                    <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
                                                }
                                            </div>
                                            <div class="col-md-1">
                                                <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20" id="addSite">
                                            </div>
                                            <div class="col-md-1">
                                                <input type="image" src="~/Images/pencil.png" alt="Submit" width="20" height="20" id="editSite">
                                            </div>
                                        </div>
                                        <table class="table-bordered" style="margin:5px; width:980px" id="mainTable1">
                                            <thead style="background-color:#428bca; color:white">
                                                <tr>
                                                    <th>
                                                        @Html.DisplayName("Site")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Address")
                                                    </th>

                                                    <th>
                                                        @Html.DisplayName("Suburb")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("State")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Postcode")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("SiteCompany")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Id")
                                                    </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.CompanySitesListViewModel)
                                                {
                                                    <tr>
                                                        <td>

                                                            @Html.DisplayName(item.siteName)

                                                        </td>
                                                        <td>
                                                            @Html.DisplayName(item.addressLine1)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayName(item.suburb)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayName(item.state)
                                                        </td>
                                                        <td style="width:1%">
                                                            @Html.DisplayName(item.postCode)

                                                        </td>
                                                        @*<td>
                            @Html.DisplayName(item.site_Company)
                        </td>
                        <td>
                            @Html.DisplayName(item.id.ToString())
                        </td>*@

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div id="spinner" style="display:none;">
                                            <img src="~/Images/ajax-loader.gif" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab2default" style="margin-bottom:10px">
                            <div class="row pull-right">
                                <div class="col-md-1">
                                    @using (Html.BeginForm("ExportTimesSheetToExcel", "Assets", FormMethod.Post))
                                    {
                                        <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
                                    }
                                </div>
                                <div class="col-md-1">
                                    <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20" id="addAsset">
                                </div>
                                <div class="col-md-1">
                                    <input type="image" src="~/Images/pencil.png" alt="Submit" width="20" height="20" id="editAsset">
                                </div>
                            </div><br>


                            <div class="row pull-left" style="margin-left:10px">
                                <div class="col-md-12">
                                    <table class="table-bordered" style="margin-top:10px; width:980px" id="mainTable2">
                                        <thead style="background-color:#428bca; color:white">
                                            <tr>
                                                <th>
                                                    @Html.DisplayName("SSN")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Make")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Model")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Serial")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Company")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("IMEI")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("SIM")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Order")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Date")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Price")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Decommission")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Condition")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Buyback")
                                                </th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.AssetsListViewModel)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayName(item.SSN)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.Make)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.Model)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.SerialNo == null ? "" : item.SerialNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.Asset_Company.ToString())
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.IMEI == null ? "" : item.IMEI)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.SIMNo == null ? "" : item.SIMNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.PurchaseOrderNo == null ? "" : item.PurchaseOrderNo)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.PurchaseDate.HasValue ? item.PurchaseDate.Value.ToString("MM/dd/yyyy") : "")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.PurchasePrice == null ? "" : item.PurchasePrice.Value.ToString())
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.DecomissionDate.HasValue ? item.DecomissionDate.Value.ToString("MM/dd/yyyy") : "")
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.Condition == null ? "" : item.Condition)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayName(item.BuyBackPrice == null ? "" : item.BuyBackPrice.Value.ToString())
                                                    </td>


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab3default">
                            <div class="row pull-right" style="margin-bottom:5px">
                                <div class="col-md-1">
                                    @using (Html.BeginForm("ExportTimesSheetToExcel", "Assets", FormMethod.Post))
                                    {
                                        <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
                                    }
                                </div>
                                <div class="col-md-1">
                                    <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20" id="addContract">
                                </div>
                                <div class="col-md-1">
                                    <input type="image" src="~/Images/pencil.png" alt="Submit" width="20" height="20" id="editContract">
                                </div>
                            </div>
                            <br>
                            <div class="row pull-left" style="margin-left:-1px;margin-top:5px">

                                <table class="table-bordered" style="margin:10px; width:980px" id="mainTable3">
                                    <thead style="background-color:#428bca; color:white">
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Id")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Start Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("End Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Service No")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Company")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Enduser")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Plan")
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ContractsListViewModel)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.startDate)
                                                    @Html.HiddenFor(modelItem => item.id, new { @id = "hiddenContractId" })
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.endDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.serviceNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.contract_Company)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.contract_EndUser)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.contract_Plan)
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab4default">
                            <div class="row pull-right">
                                <div class="row pull-right">
                                    <div class="col-md-1">
                                        @using (Html.BeginForm("ExportTimesSheetToExcel", "Assets", FormMethod.Post))
                                        {
                                            <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
                                        }
                                    </div>
                                    <div class="col-md-1">
                                        <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20" id="addEndUser1">
                                    </div>
                                    <div class="col-md-1">
                                        <input type="image" src="~/Images/pencil.png" alt="Submit" width="20" height="20" id="editEnduser1">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab5default">
                            <div class="row pull-right" style="padding-right:20px">
                                <div>

                                    <span class="input-group-btn-override" style="padding-left:100px">
                                        <input id="Certificateimgupload" type="file" style="display:none;">
                                        <button type="button" id="btnCertificates" class="btn btn-sm btn-labeled btn-outline-secondary" style="padding-left:20px;border-color:gray">
                                            <span class="btn-label"><i class="glyphicon glyphicon-import"></i> </span>
                                        </button>
                                    </span>
                                </div> <br>
                                <div class="col-md-1">
                                    @using (Html.BeginForm("ExportTimesSheetToExcel", "Assets", FormMethod.Post))
                                    {
                                        <input type="image" src="~/Images/excel.png" alt="Submit" width="20" height="20">
                                    }
                                </div>
                                <div class="col-md-1">
                                    <input type="image" src="~/Images/plus.png" alt="Submit" width="20" height="20" id="addEndUser">
                                </div>
                                <div class="col-md-1">
                                    <input type="image" src="~/Images/pencil.png" alt="Submit" width="20" height="20" id="editEndUser">
                                </div>
                            </div>
                            <div class="row pull-left" style="margin-left:-1px">
                                <table class="table-bordered" style="margin:5px; width:980px" id="mainTable5">
                                    <thead style="background-color:#428bca; color:white">
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Id")
                                            </th>
                                            <th>
                                                @Html.DisplayName("FirstName")
                                            </th>
                                            <th>
                                                @Html.DisplayName("LastName")
                                            </th>
                                            <th>
                                                @Html.DisplayName("EmployeeNo")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Department")
                                            </th>
                                            <th>
                                                @Html.DisplayName("CostCode")
                                            </th>

                                            <th>
                                                @Html.DisplayName("EndUserStatus")
                                            </th>
                                            <th>
                                                @Html.DisplayName("CommencementDate")
                                            </th>
                                            <th>
                                                @Html.DisplayName("TerminationDate")
                                            </th>
                                            <th>
                                                @Html.DisplayName("UserName")




                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.EndUsersListViewModel)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FirstName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.LastName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EmployeeNo)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Department)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CostCode)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EndUserStatus)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CommencementDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TerminationDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>    
   
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $('#mainTable').DataTable();
            $('#mainTable1').DataTable();
           
            $('#mainTable2').DataTable();
            $('#mainTable3').DataTable();
            $('#mainTable4').DataTable();
            $('#mainTable5').DataTable();
            if ($("#image").src == null) {
                $("#image").hide();
            }
            else {
                $("#image").show();
            }

            $('#mainTable1,#mainTable2,#mainTable3,#mainTable4,#mainTable5 tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    $('#mainTable1,#mainTable2,#mainTable3,#mainTable4,#mainTable5').DataTable().$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
                    //  ExportTimesSheetToExcel", "Candidates"
        function LoadAddressData(theId,companyName,login,addressLine1,phone,fax,email,logo,state,suburb,postcode) {
           // alert(data);
            $("#spinner").show();
            $("#txtCompany").val(companyName);
            $("#txtAddress").val(addressLine1);
            $("#txtPhone").val(phone);
            $("#txtFax").val(fax);
            $("#txtEmail").val(email);
            $("#hiddenId").val(theId);
            $("#hiddenState").val(state);
            $("#hiddenSuburb").val(suburb);
            $("#hiddenPostcode").val(postcode);
            $("#image").show();
            $("#image").attr("src", "data:image/jpeg;base64," + logo + "").height(80).width(80);

            var loadUrl = '@Url.Action("GetCompanyData", "Company")';
            var loadAssetsUrl = '@Url.Action("GetAssetsData", "Assets")';
           var loadContractsUrl = '@Url.Action("GetContractsData", "Contracts")';
            var loadCatalogueUrl = '@Url.Action("GetCatalogueData", "Catalogue")';
            var loadEndusersUrl = '@Url.Action("GetEndusersData", "Endusers")';

            $.ajax({

                type: "GET",
                url: loadUrl,
                contentType: "application/json; charset=utf-8",
                data: { "Id": theId },
                datatype: "json",               
                success: function (data) {
                  
                    populateDataTable(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            var obj = null;
            $.ajax({

                type: "GET",
                url: loadAssetsUrl,
                contentType: "application/json; charset=utf-8",
                data: { "Id": theId },
                datatype: "json",  
                beforeSend: function () {
                    obj = $.alert({

                        title: 'In Progress',
                        content: $("#spinner").html(),
                        buttons: {
                            yes: { isHidden: true }
                        }
                    })
                },
                success: function (data) {
                    $("#spinner").hide();
                    obj.close();
                    populateAssetsDataTable(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
            
            $.ajax({

                type: "GET",
                url: loadContractsUrl,
                contentType: "application/json; charset=utf-8",
                data: { "CompanyId": theId },
                datatype: "json",
               
                success: function (data) {
                   
                    populateContractsDataTable(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

            $.ajax({

                type: "GET",
                url: loadEndusersUrl,
                contentType: "application/json; charset=utf-8",
                data: { "CompanyId": theId },
                datatype: "json",
               
                success: function (data) {
                
                    populateEndusersDataTable(data);
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        }
        $('#image').click(function () { $('#imgupload').trigger('click'); });

        $('#btnCertificates').click(function () { $('#Certificateimgupload').trigger('click'); });

        function populateDataTable(data) {
            console.log("populating data table...");
            // clear the table before populating it with more data
            $("#mainTable1").DataTable().clear();
            var length = Object.keys(data).length;
            if (length == 0) {
                $('#mainTable1').dataTable().fnAddData(["", "", "", "", "","",""]);
            }
            else {
                for (var i = 0; i <= length; i++) {
                    var customer = data[i];

                    // You could also use an ajax property on the data table initialization
                    $('#mainTable1').dataTable().fnAddData([
                        customer.siteName,
                        customer.addressLine1,
                        customer.suburb,
                        customer.state,
                        customer.postCode,
                        customer.site_Company,
                          customer.id
                    ]);
                }
            }
           }

        function populateAssetsDataTable(data) {
               console.log("populating data table...");

               // clear the table before populating it with more data
            $("#mainTable2").DataTable().clear();
               var length = Object.keys(data).length;
               if (length == 0) {
                   $('#mainTable2').dataTable().fnAddData(["", "","","","","","","","","","","",""]);
               }
               else {
                   for (var i = 0; i <= length; i++) {
                       var customer = data[i];

                       // You could also use an ajax property on the data table initialization
                       $('#mainTable2').dataTable().fnAddData([

                           customer.SSN,
                           customer.Make,
                           customer.Model,
                           customer.SerialNo,
                           customer.Asset_Company,
                           customer.IMEI,
                           customer.SIMNo,
                           customer.PurchaseOrderNo,
                           customer.PurchaseDate,
                           customer.PurchasePrice,
                           customer.DecomissionDate,
                           customer.Condition,
                           customer.BuyBackPrice


                    ]);


                   }
            }
            //$('#mainTable2').DataTable({
            //    "pageLength": 20,
            //    "lengthMenu": [10, 15, 20, 25, 50],
            //    "aoColumnDefs": [
            //        { "bSearchable": true, "bVisible": false, "aTargets": [1] }

            //    ]
            //});
           }
        function populateContractsDataTable(data) {
            console.log("populating data table...");           
            // clear the table before populating it with more data
            $("#mainTable3").DataTable().clear();
            var length = Object.keys(data).length;
            if (length == 0) {
                $('#mainTable3').dataTable().fnAddData(["","", "", "", "", "", ""]);
            }
            else {
                for (var i = 0; i <= length; i++) {
                    var customer = data[i];
                  
                    // You could also use an ajax property on the data table initialization
                    $('#mainTable3').dataTable().fnAddData([
                        customer.id,
                        new Date(moment(customer.startDate)).toLocaleDateString(),
                        new Date(moment(customer.endDate)).toLocaleDateString(),
                        customer.serviceNo,
                        customer.contract_Company,
                        customer.contract_EndUser,
                        customer.contract_Plan

                    ]);


                }
            }
        }

        function populateEndusersDataTable(data) {
            console.log("populating data table...");

            // clear the table before populating it with more data
            $("#mainTable5").DataTable().clear();
            var length = Object.keys(data).length;
            if (length == 0) {
                $('#mainTable5').dataTable().fnAddData(["", "", "", "", "", "", "","","",""]);
            }
            else {
                for (var i = 0; i <= length; i++) {
                    var customer = data[i];

                    // You could also use an ajax property on the data table initialization
                    $('#mainTable5').dataTable().fnAddData([
                        customer.Id,
                        customer.FirstName,
                        customer.LastName,
                        customer.EmployeeNo,
                        customer.Department,
                        customer.CostCode,
                        customer.EndUserStatus,
                        new Date(moment(customer.CommencementDate)).toLocaleDateString(),
                        new Date(moment(customer.TerminationDate)).toLocaleDateString(),
                        customer.UserName
                    ]);

                }
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#Certificateimgupload').on('change', function (event) {
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('Certificateimgupload');
            //Iterating through each files selected in fileInput
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
           
            formdata.append("FileUpload", "CertificateUpload");
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Assets/ImportAssets');
            xhr.send(formdata);
            xhr.onreadystatechange = function (data) {
                if (xhr.readyState == 4 && xhr.status == 200) {
                     $.confirm({

                content: 'The file has been uploaded successfully.',
                boxWidth: '370px',
                useBootstrap: false,
                buttons: {
                    OK: function () {

                    }
                }
                    });
                }
            }
        });

        $('#updateBtn').on('click', function (e) {
            {
                // alert(data);
                var CompanyEdit = {};

                CompanyEdit.companyName = $("#txtCompany").val();
                CompanyEdit.addressLine1 = $("#txtAddress").val();
                CompanyEdit.phone = $("#txtPhone").val();
                CompanyEdit.fax = $("#txtFax").val();
                CompanyEdit.email = $("#txtEmail").val();
                CompanyEdit.logo = $("#image")[0].src.split(',')[1];
                CompanyEdit.Id = $("#hiddenId").val();
                CompanyEdit.state = $("#hiddenState").val();
                CompanyEdit.suburb = $("#hiddenSuburb").val();
                e.preventDefault();
                e.stopPropagation();

                var loadUrl = '@Url.Action("UpdateCompanyData", "Company")';

                $.ajax({

                    type: "POST",
                    url: loadUrl,
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(CompanyEdit),
                    datatype: "json",
                    success: function (result) {

                        debugger;
                        $("#txtCompany").text(result);
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
            });
            $('#addSite').click(function () {
                var AddSiteURL = '@Url.Action("AddSite", "Sites")'
                $.ajax({
                    type: "GET",
                    url: AddSiteURL,

                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            },
                        });

                    }
                });
           });

           $('#editSite').click(function () {
                var updateSiteURL = '@Url.Action("UpdateSite", "Sites")'
                $.ajax({
                    type: "GET",
                    url: updateSiteURL,

                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            },
                            onOpen: function () {
                                // after the modal is displayed.
                                var table = $('#mainTable1').DataTable();
                                var selData = table.rows(".selected").data();
                                $(".jconfirm").find($("#siteName")).val(selData[0][0]);
                                $(".jconfirm").find($("#address1")).val(selData[0][1]);
                                $(".jconfirm").find($("#suburb")).val(selData[0][2]);
                                $(".jconfirm").find($("#state")).val(selData[0][3]);
                                $(".jconfirm").find($("#postcode")).val(selData[0][4]);
                                $(".jconfirm").find($("#siteCompany")).val(selData[0][5]);
                                $(".jconfirm").find($("#siteId")).val(selData[0][6]);
                            }
                        });


                    }
               });

        });
        $('#addEndUser').click(function () {
           
                var AddSiteURL = '@Url.Action("AddEnduser", "RegisterEndUsers")'
                $.ajax({
                    type: "GET",
                    url: AddSiteURL,

                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            },
                        });

                    }
                });
           });

        $('#editEndUser').click(function () {
                var updateSiteURL = '@Url.Action("UpdateEndUser", "RegisterEndusers")'
                var table1 = $('#mainTable5').DataTable();
                var selData1 = table1.rows(".selected").data();
             
                $.ajax({
                    type: "GET",
                    url: updateSiteURL,
                    data: { "Id": (selData1[0][0]) },
                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            }

                        });


                    },
                    error: function (data) {

                        alert("Data cannot be loaded.");


                    }
               });

        });

         $('#addAsset').click(function () {
                var AddSiteURL = '@Url.Action("AddAssets", "RegisterAssets")'
                $.ajax({
                    type: "GET",
                    url: AddSiteURL,

                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            },
                        });

                    }
                });
           });

           $('#editAsset').click(function () {
               var updateSiteURL = '@Url.Action("UpdateAssets", "RegisterAssets")'
                var table1 = $('#mainTable2').DataTable();
                var selData1 = table1.rows(".selected").data();
                $.ajax({
                    type: "GET",
                    url: updateSiteURL,
                    data: { "AssetId": (selData1[0][0]), "companyId": $("#hiddenId").val()},
                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            }

                        });


                    }
               });

           });

           $('#addContract').click(function () {
                var AddContractURL = '@Url.Action("AddContract", "RegisterContract")'
                $.ajax({
                    type: "GET",
                    url: AddContractURL,

                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            }
                        });

                    }
                });
           });



        $('#editContract').click(function () {
            var table1 = $('#mainTable3').DataTable();
            var selData1 = table1.rows(".selected").data();
                var updateSiteURL = '@Url.Action("UpdateContract", "RegisterContract")'
                $.ajax({
                    type: "GET",
                    url: updateSiteURL,
                    data: { "Id": (selData1[0][0])},
                    success: function (data) {

                        $.confirm({
                            boxWidth: '800px',
                            useBootstrap: false,
                            title: '',
                            content: data,
                            closeIcon: true,

                            buttons: {
                                yes: { isHidden: true }
                            }

                        });


                    },
                    error: function (data) {

                        alert("Data cannot be loaded.");


                    }
               });

        });

        function getAge(dateString) {

            var val = $("#txtDOB").val();
            var birthYear = val.split('-')[2];
            var birthMonth = val.split('-')[1];
            var birthDay = val.split('-')[0];


            todayDate = new Date();
            todayYear = todayDate.getFullYear();
            todayMonth = todayDate.getMonth();
            todayDay = todayDate.getDate();
            age = todayYear - birthYear;

            if (todayMonth < birthMonth - 1) {
                age--;
            }

            if (birthMonth - 1 == todayMonth && todayDay < birthDay) {
                age--;
            }
            $("#txtAge").val(age);
//            return age;
        }
    </script>
    <body>

        <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/plug-ins/1.10.15/api/row().show().js"></script>
    </body>
}
<style>
    input[readonly]{
  background-color:transparent;
  border: transparent;
  font-size: 14px;
}
    .row.vdivide [class*='col-']:not(:last-child):after {
        background: #e0e0e0;
        width: 1px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        min-height: 70px;
    }

    .col-padding {
        padding: 0 15px;
    }

    .panel-footer {
        padding: 3px 30px;
        background-color: #f5f5f5;
        border-top: 1px solid #dddddd;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        width: 100%
    }

    .glyphicon {
        font-size: 14px;
        color: black;
    }

    .grid-divider {
        position: relative;
        padding: 0;
        width: 1000px;
    }

    image-border {
        padding: 1px;
        border: 1px solid #021a40;
    }

    .grid-divider > [class*='col-'] {
        position: static;
    }

        .grid-divider > [class*='col-']:nth-child(n+2):before {
            content: "";
            border-left: 1px solid #DDD;
            position: absolute;
            top: 0;
            bottom: 0;
        }

    .col-padding {
        padding: 0 15px;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

    .btn-warning {
        background-color: #FFA500;
        font-size: 11px;
    }

    .black {
        color: black;
    }

    body {
        padding-top: 40px;
        padding-bottom: 5px;
        /*margin-left:5px;*/
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 0px;
        padding-right: 5px;
        margin-left: 5px;
    }

    .dataTables_filter {
        float: right;
    }

    .container {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
        background-color: #FFA500;
        border-color: white;
    }

        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #FFA500;
            border-color: white;
        }

    .tab-pane {
        border-color: lightgray
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: orange !important;
        border-color: gray !important;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }

    .col-md-6 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 15px;
        padding-left: 5px
    }

    .table-hover tbody tr:hover > td {
        background-color: gray;
    }

    .datatable tr:nth-child(odd) {
        background-color: #dfe7f2;
        color: #000;
    }

    table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
        border-top: 1px solid #ddd;
    }

    table.dataTable, table.dataTable th, table.dataTable td {
        box-sizing: content-box;
    }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 8px 10px;
        }

    .with-nav-tabs.panel-default .nav-tabs > li > a,
    .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
        color: #777;
    }

        .with-nav-tabs.panel-default .nav-tabs > .open > a,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
        .with-nav-tabs.panel-default .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
            color: #777;
            background-color: #ddd;
            border-color: transparent;
        }

    .with-nav-tabs.panel-default .nav-tabs > li.active > a,
    .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
        color: #555;
        background-color: #BCBABE;
        border-color: #ddd;
        border-bottom-color: transparent;
    }

    .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
        background-color: #f5f5f5;
        border-color: #ddd;
    }

        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
            color: #777;
        }

            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #ddd;
            }

        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
        .with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
            color: #fff;
            background-color: #555;
        }
    /********************************************************************/
    /*** PANEL PRIMARY ***/
    .with-nav-tabs.panel-primary .nav-tabs > li > a,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
        color: #fff;
    }

        .with-nav-tabs.panel-primary .nav-tabs > .open > a,
        .with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
        .with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
        .with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
        .with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
            color: #fff;
            background-color: #3071a9;
            border-color: transparent;
        }

    .with-nav-tabs.panel-primary .nav-tabs > li.active > a,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
    .with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
        color: #428bca;
        background-color: #fff;
        border-color: #428bca;
        border-bottom-color: transparent;
    }

    .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
        background-color: #428bca;
        border-color: #3071a9;
    }

        .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
            color: #fff;
        }

            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
            .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
                background-color: #3071a9;
            }

        .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
        .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
        .with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
            background-color: #4a9fe9;
        }
</style>

